<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- Set viewport to device width -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- bootstrap css -->
		<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- custom styles -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="shortcut icon" href="images/favicon.ico"/>
		<title>Welcome</title>
	</head>
	<body>
		{{> header}}
		<div class="orangeBar pull-left" id="barHalf"></div><br><br>
		<div class="blueBar pull-left" id="barLess"></div><br><br>
		<div class="orangeBar pull-left" id="barEvenLess"></div>
		<div class="container">
			<div id="hide">
				<div class="col-md-9 col-centered">
					<div class="wtf">What the heck is</div>
					<div class="col-md- 4 col-centered">
						<form class="col-md-3 col-md-offset-2 genreTextQ" name="genreSearch" id="search">
							<input name="gStext" type="text" id="genre-text" autofocus><br>
						</form>
						<div class="col-md-1 wtf">?</div>
					</div>
				</div>
				<div class="col-md-4 col-centered descr">(Try Shoegaze or Grime)
				</div>
			</div>
			<br><br><br>
			<div id="genre-description">
				<script id="result-template" type="text/x-handlebars-template">
					<div class="row">
						<div class="col-md-6 genre">\{{genre.genreName}}</div>
						//added a column for genre familiaryt score - placeholder
						<div class="col-md-6" id="familiarity">\{{genre.familiarity}}</div>
					</div>
					<div class="blueBar"></div>
					<div class="orangeBar"></div>
					<br>
					<div class="row">
								<div class="col-centered col-md-11">
											<h1>
												Spotify made a <strong>\{{genre.genreName}}</strong> playlist for you
											</h1>
								</div>
								<div class="col-md-8 col-centered">
													<img class="playeropen" src="images/delvePlayerBorder.png">
										</div>
								<div class="col-md-10">
												
												<div class="col-md-8 player">
															<iframe src="https://embed.spotify.com/?uri=spotify:trackset:\{{genre.genreName}}:\{{#each genre.playlist}}
																\{{track}},
															\{{/each}}&view=list&theme=white" width="350" height="100" frameborder="0" allowtransparency="true">
															</iframe>
															<br>
												</div>
									</div>
					</div>
					<hr>
					<div class="row">
									<h1 class="col-md-10">Dazzle your friends with this colorful description of <strong>\{{genre.genreName}}</strong></h1>
					</div>
					<div class="row">
									<p class="col-md-12 descr">
													\{{genre.description}}
									</p>
					</div>
					<hr>
					<div class="row">
								<div class="col-md-12">
											<h1>
												Spend some time getting to know these <strong>\{{genre.genreName}}</strong> artists
											</h1>
								</div>
								<div class='container'>
											\{{#grouped_each 3 genre.artists}}
												<div class="row">
															\{{#each this}}
																<div class="col-md-4">
																			<div class="artpic"><img class="square" src="\{{imageUrl}}"></div>
																			<div class="artname">\{{name}}</div>
																</div>
															\{{/each}}
												</div><br>
											\{{/grouped_each}}
								</div>
						</div>
			</div>
			</script>
		</div>
	</div>
	
</div>
<div class="orangeBar pull-right" id="barEvenLessBottom"></div><br><br>
<div class="blueBar pull-right" id="barLessBottom"></div><br>
<div class="orangeBar pull-right" id="barHalfBottom"></div><br><br>
<div id="footer">{{>footer}}</div>
<!-- jQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<!-- Handlebars -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.4/handlebars.min.js"></script>
<!-- Custom script -->
<script type="text/javascript" src="scripts.js"></script>
</body>
</html>